# encoding: utf-8
 <header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "PaintingShare", '#', id: "logo" %>
        <nav>
          <ul class="nav pull-right">
            <li><%= link_to "主页", root_path %></li>
            <li><%= link_to "帮助", help_path %></li>
            <li><%= link_to "登陆", '#' %></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
